<?xml version="1.0"?>
<config>
    <modules>
        <Magelk_Finalshop>
            <version>0.1.0</version>
        </Magelk_Finalshop>
    </modules>
    <global>
        <models>
            <magelk_finalshop>
                <class>Magelk_Finalshop_Model</class>
                <resourceModel>finalshop_entity</resourceModel>
            </magelk_finalshop>
                <finalshop_entity>
                    <class>Magelk_Finalshop_Model_Mysql4</class>
                    <entities>
                        <product>
                            <table>finalshop_products</table>
                        </product>
                    </entities>
                </finalshop_entity>
        </models>
        <blocks>
            <magelk_finalshop>
                <class>Magelk_Finalshop_Block</class>
            </magelk_finalshop>
        </blocks>
        <helpers>
            <magelk_finalshop>
                <class>Magelk_Finalshop_Helper</class>
            </magelk_finalshop>
        </helpers>
        <resources>
            <finalshop_setup>
                <setup>
                    <module>Magelk_Finalshop</module>
                </setup>
            </finalshop_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <magelk_finalshop>
                <use>standard</use>
                <args>
                    <module>Magelk_Finalshop</module>
                    <frontName>finalshop</frontName>
                </args>
            </magelk_finalshop>
        </routers>
        <layout>
            <updates>
                <magelk_finalshop>
                    <file>magelk_finalshop.xml</file>
                </magelk_finalshop>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <finalshop>
                <use>admin</use>
                <args>
                    <module>Magelk_Finalshop_Adminhtml</module>
                    <frontName>finalshop</frontName>
                </args>
            </finalshop>
        </routers>
    </admin>
</config>